# Android Build Output
buildPackage/
buildPackage.*/

# Desktop Build Output
linux-amd64/
windows-amd64/

# Processing IDE
*.autosave

# Processing IDE Java/Android Mode file
sketch.properties
/*android

# Blender
*.blend1

# Krita
*~
*-autosave.kra
